<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Chatter Post</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body>

	<h1>New Chatter Message</h1>
<div id="app">

	<div 
		v-if="message" 
		v-html="message" 
		id="messages" 
		class="alert alert-primary" 
		role="alert">	
	</div>		

	<div 
		v-if="errorMessage" 
		v-html="errorMessage" 
		id="errorMessages" 
		class="alert alert-danger" 
		role="danger">	
	</div>		

	<form ref="form" @submit.prevent="onSubmit" 
		method="post" action="/JitterPostServlet" >

		<div class="form-group">
   			<label for="loginName">Login Name</label>
	    	<input
	    		v-model="form.loginName" 
	    		type="text" 
	    		class="form-control" 
	    		id="loginName" 
	    		name="loginName" 
	    		placeholder="enter your login name"
	    	>
   		</div>

		<div class="form-group">
   			<label for="message">Message</label>
	    	<textarea 
	    		v-model="form.message"
	    		class="form-control" 
	    		id="message" 
	    		name="message" 
	    		placeholder="enter your login name"
	    	>
	    	</textarea>
   		</div>
    						
		<button
			type="submit" 
			class="btn btn-primary">
			Submit
		</button>
	</form>
</div>
	
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>	

<!-- development version, includes helpful console warnings -->
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

<script type="text/javascript">
const apiURL = "/JitterPostServlet";

var app = new Vue({
	el: '#app',
	
    data: {
        message: '',
        errorMessage: '',
       	messages: [],
        form: {
			loginName: '',
			message: '',
        },
     },
     
     // define methods
     methods: {
		clearMessage: function() {
			this.message = '';
			this.messages = [];
		},
		      
		onSubmit() { 

			const data = new URLSearchParams();
			for (const pair of new FormData(this.$refs.form)) {
				data.append(pair[0], pair[1]);
			}

			//console.log(data);
			
			fetch(apiURL, { 
				method: 'POST',
				body: data
			})
			.then(response => {
		    	// Shorthand to check for an HTTP 2xx response status.
		    	// See https://fetch.spec.whatwg.org/#dom-response-ok
		    	if (response.ok) {
		      		return response;
		    	}
		    	// Raise an exception to reject the promise and trigger the outer .catch() handler.
		    	// By default, an error response status (4xx, 5xx) does NOT cause the promise to reject!
		    	if (response.headers.get("errormessage"))
		    		throw Error(response.headers.get("errormessage"));
		    	else
		    		throw Error(response.statusText);
			})
			.then(response => response.text())
			.then(responseText => {
				this.message = responseText;
				this.form.loginName = '';
				this.form.message = '';
				this.errorMessage = '';
				//console.log(this.message);
			})
			.catch(error => {
				console.error('Error message:' + error);
				this.errorMessage = error;
				this.message = '';
			});	
     	}
     },

     computed: {
		formIsValid() {
			return (this.form.loginName.length > 0 && this.form.message.length > 0);
		}
     }
})


</script>

</body>
</html>