<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Simple Calculator</title>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
	integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
	crossorigin="anonymous">

<!-- development version, includes helpful console warnings -->
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

</head>
<body>

<div id="app">
	<div id="messages" class="alert alert-info" role="alert">
		{{ num1 }} {{ operator }} {{ num2 }} = {{ result }}
	</div>

		<h1>Simple Calculator</h1>
		<form id="calculatorForm" method="post">

			<div class="form-row align-items-center">
				<div class="col-auto">
					<label class="sr-only" for="num1">First number:</label> 
					<input v-on:change="calculate()"
						v-model="num1" type="number" id="num1" name="num1" value="1"
						class="form-control" />
				</div>

				<div class="col-auto">
					<label class="sr-only" for="operator">Operation:</label> 
					<select
						v-on:change="calculate()"
						v-model="operator" class="form-control" id="operator"
						name="operator">
						<option v-for="option in operatorOptions"
							v-bind:value="option.value">{{ option.text }}</option>
					</select>
				</div>

				<div class="col-auto">
					<label class="sr-only" for="num2">Param2:</label> 
					<input
						v-on:change="calculate()"
						v-model="num2" type="number" id="num2" name="num2" value="2"
						class="form-control" />
				</div>

				<div class="col-auto">
					<button v-on:click="calculate()" type="button"
						class="btn btn-primary">Calculate</button>
				</div>
			</div>


		</form>

	</div>

	<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
		integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
		crossorigin="anonymous"></script>
	<script
		src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
		integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
		crossorigin="anonymous"></script>
	<script
		src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
		integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
		crossorigin="anonymous"></script>

	<script>
var app = new Vue({
	el: '#app',
    data: {
      message: 'Hello Vue!',
      num1: 1,
      num2: 2,
      operator: '+',
      result: 3,
      messages: [],
      operatorOptions: [
          { text:'+', value:'+' },
          { text:'-', value:'-' },
          { text:'*', value:'*' },
          { text:'/', value:'/' },
      ]
    },
    // define methods
    methods: {
		calculate: function() {
			//alert(num1.value + ' ' + operator.value + ' ' + num2.value);
			switch(operator.value) {
				case '+':
					this.result = parseFloat(num1.value) + parseFloat(num2.value);
					break;
				case '-':
					this.result = parseFloat(num1.value) - parseFloat(num2.value);
					break;
				case '*':
					this.result = parseFloat(num1.value) * parseFloat(num2.value);
					break;
				case '/':
					this.result = parseFloat(num1.value) / parseFloat(num2.value);
					break;
			}
			//alert('method result: ' + result);
		}
    },
	computed: {
		formIsValid() {
			return (num1 > 0 && num2 > 0);
		},
		
		computedResult: function() {
			//alert('compute');
			let operationResult = 0;
			switch(operator.value) {
				case '+':
					operationResult = parseFloat(num1.value) + parseFloat(num2.value);
					break;
				case '-':
					operationResult = parseFloat(num1.value) - parseFloat(num2.value);
					break;
				case '*':
					operationResult = parseFloat(num1.value) * parseFloat(num2.value);
					break;
				case '/':
					operationResult = parseFloat(num1.value) / parseFloat(num2.value);
					break;
				default:
					operationResult = 99.99;
					break;
			}
			//alert('computed: ' + operationResult);
			return operationResult;			
		}
    },
    watch: {
    	result: function(value) {
			//alert('watch ' + value);	
			/*		
			switch(operator.value) {
				case '+':
					result = parseFloat(num1.value) + parseFloat(num2.value);
					break;
				case '-':
					result = parseFloat(num1.value) - parseFloat(num2.value);
					break;
				case '*':
					result = parseFloat(num1.value) * parseFloat(num2.value);
					break;
				case '/':
					result = parseFloat(num1.value) / parseFloat(num2.value);
					break;
				default:
					result = 99.99;
					break;
			}
			*/
			//alert('watch: ' + result);		
		}
		
    }
})
</script>

	<script type="text/javascript">
function submitAndProcessResult() {
	const num1 = document.getElementById("num1");
	const num2 = document.getElementById("num2");
	const operator = document.getElementById("operator");
	const operatorValue = encodeURIComponent(operator.value);
	const queryParams = `?num1=${num1.value}&num2=${num2.value}&operator=${operatorValue}&outputResultOptions=json`;
	console.log(queryParams);
	const url = 'http://localhost:8080/javawockee-web/SimpleCalculatorServlet' + queryParams;
	fetch(url, {method: 'POST'})
		.then(response => response.json())
		.then(result => {
			console.log(result);
			console.log(result.num1);
			const messagesDiv = document.getElementById("messages");
			while (messagesDiv.firstChild) {
				messagesDiv.removeChild(messagesDiv.firstChild);
			}
			const messagesElement = document.createElement("div");
			messagesElement.setAttribute('class', 'alert alert-primary');
			messagesElement.setAttribute('role', 'alert');			
			messagesElement.textContent = `${result.num1} ${result.operator} ${result.num2} = ${result.result}`;			
			messagesDiv.appendChild(messagesElement);
		})
		.catch(error => console.error(error));
}

function submitHandler(event) {
	const num1 = document.getElementById("num1");
	const num2 = document.getElementById("num2");
	const operator = document.getElementById("operator");
	console.log(`${num1.value} ${operator.value} ${num2.value}`)
	//event.preventDefault();
	console.log("form has been submitted");	
}

</script>

</body>
</html>