<!DOCTYPE html>
<html >
    <head>
        <title>Top N Most Expensive Products</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
     
     	<!-- Bootstrap (https://getbootstrap.com/) CSS -->
		<link rel="stylesheet" 
			href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" 
			integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" 
			crossorigin="anonymous">
    </head>
    
    <body>
    
<div id="app" class="container">
        
    <h1>Top N Most Expensive Products</h1>
    
    <div v-if="message" v-html="message" id="message" class="alert alert-success" role="alert" >
	</div>
	
	<input v-model="maxResults"
		type="number" 
		id="maxResults" 
		name="maxResults"
		class="form-control">
		
	<button v-on:click="fetchData()"
		type="button" 
		class="btn btn-primary">
		Submit
	</button>

	<table  id="dataTable" class="table table-sm table-striped table-hover" >
    <thead>
        <tr>
            <th class="text-left">ProductID</th>
            <th class="text-left">Product Name</th>
            <th class="text-right">Unit Price</th>
        </tr>
    </thead>
    <tbody>
        <tr v-for="item in resultList">
            <td class="text-left">{{ item.productID }}</td>
            <td class="text-left">{{ item.productName }}</td>
            <td class="text-right">{{ item.unitPrice }}</td>
        </tr>
    </tbody>
</table>  
	
   	
		   
</div>


<!-- Bootstrap Dependencies -->	
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>	

<!-- Vue.js Dependencies -->
<!-- development version, includes helpful console warnings -->
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<!-- production version, optimized for size and speed -->
<!-- <script src="https://cdn.jsdelivr.net/npm/vue.js"></script> -->

<script type="text/javascript">

var app = new Vue({
	// The element for Vue to control
	el: '#app',					
	
	// A list of variables separated by a comma to use with Vue
	// A variable consists of a name followed by a colon and an initial javascript value (string, array, number, true/false)
    data: {
        message:	'',
        //messages:	[],
        resultList: [],
        maxResults: 10,
       
    },

     // Vue LifeCyle Hooks methods that you can define: created, mounted, updated, destroyed
     mounted: function() {
    	// code to execute when Vue is mounted such as fetching data when page loads
     	//this.fetchData();
     },
     
     // A list of methods separated by comma to use with Vue.
     // The syntax to define a method is:	
   	 //		methodName: function(param1, param2) {},
     methods: {

    	fetchData: function() {
        	const encodedMaxResults = encodeURI(this.maxResults);
        	
    		const apiURL = '/webapi/products/mostexpensive/customselect/' + encodedMaxResults;

    		fetch(apiURL, {	method: 'GET'} )
			.then(handleResponse)		// for handling a BadRequest response
			.then(responseJson => {
				console.log(responseJson);

				// do something with the response data
				this.resultList = responseJson;
				
			})
			.catch(error => {
				// for display error messages from a BadRequest response
				if (error.status == 400) {
					for (let index = 0; index < Object.keys(error).length - 2; index++) {
						console.log(error[index]);		
						this.errorMessages.push( Object.values(error[index])[0] );
					}
				}
			});	
        },
    	 
		submit: function() {
			//const apiURL = 'relative or absolute URL to webapi';
			
			// Construct the data to pass to the webapi into the required content type
			// 1) To send data as "application/x-www-form-urlencoded" content type you need to pass a URLSearchParmas object or a URL-encoded string
			/*
			const data = new URLSearchParams();
			for (const pair of new FormData(this.$refs.form)) {
				data.append(pair[0], pair[1]);
			}
			*/
			/*
			const formData = new FormData();
			formData.append('name', encodeURIComponent(this.form.name));
			formData.append('age', encodeURIComponent(this.form.age));
			// To send data as "application/x-www-form-urlencoded" you need to pass a URLSearchParmas object or a URL-encoded string
			const data = new URLSearchParams(formData);			
			*/
			// 2) To send data as "multipart/form-data" content type you need to pass a FormData object 
			// 3) To send data as "application/json" content you need to manually build the JSON value
			// const data = '{"name1:":"stringValue", "name2": numberValue}';
			// const data = [{"name": "john", age: 18}, {"name:" "jerry", age: 20}];

			/*
			fetch(apiURL, {
				method: 'POST',	// method can be one of the following: POST, GET, PUT, DELETE
				body: data
			})
			.then(handleResponse)		// for handling a BadRequest response
			.then(responseJson => {
				console.log(responseJson);

				// do something with the response data
				
			})
			.catch(error => {
				// for display error messages from a BadRequest response
				if (error.status == 400) {
					for (let index = 0; index < Object.keys(error).length - 2; index++) {
						console.log(error[index]);		
						this.errorMessages.push( Object.values(error[index])[0] );
					}
				}
			});	
			*/
			
		},

		cancel: function() {

		},
     	
     },
})


// common function to handle a BadRequest response from a Fetch API request
function handleResponse(response) {
	return response.json()
		.then(json => {
			if (response.ok) {
				return json
			} else {
				let error = Object.assign({}, json, {
					status: response.status,
					statusText: response.statusText
				})
				return Promise.reject(error)
			}
	})
}
</script>

    </body>
</html>