<?xm	l version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
	version="4.0">
	
	<display-name>singleuser-expensesystem-basicauthentication-memoryidentitystore</display-name>
	
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>

	<!-- To use security role annotations with Wildfly, 
	you MUST set to "true" the context-param "resteasy.role.based.security" -->
	<context-param>
        <param-name>resteasy.role.based.security</param-name>
        <param-value>true</param-value>
    </context-param>

	<security-constraint>
		<display-name>Use HTTPS only</display-name>
		<web-resource-collection>
			<web-resource-name>sslResources</web-resource-name>
			<url-pattern>/*</url-pattern>
		</web-resource-collection>
		<user-data-constraint>
			<transport-guarantee>CONFIDENTIAL</transport-guarantee>
		</user-data-constraint>
	</security-constraint>
	
	<security-constraint>
		<display-name>USER Resources</display-name>
		<web-resource-collection>
			<web-resource-name>ProtectedWebPages</web-resource-name>
			<url-pattern>/expense/create.html</url-pattern>
		</web-resource-collection>
		<auth-constraint>
			<role-name>USER</role-name>
		</auth-constraint>
	</security-constraint>
	
	<security-constraint>
		<display-name>JAX-RS Resources</display-name>
		<web-resource-collection>
			<web-resource-name>ProtectedJaxRsResources</web-resource-name>
			<url-pattern>/webapi/expenses/*</url-pattern>
			<http-method>POST</http-method>
			<http-method>PUT</http-method>
			<http-method>DELETE</http-method>
		</web-resource-collection>
		<auth-constraint>
			<role-name>USER</role-name>
		</auth-constraint>
	</security-constraint>
	
	<security-role>
		<role-name>USER</role-name>
	</security-role>
	
</web-app>
